*{
    font-family:'Noto Sans', sans-serif;
    padding: 0;
    margin: 0;
    outline: none;
}

body {
    overflow-x: hidden;
}

.divider {
    height: 3rem;
    background-color: white;
}

h1 {
    font-weight: bolder;
    font-family: 'Bebas Neue';
}

.blockquote p{
    font-family: 'Pacifico';
    font-weight: 400;
    font-size: 175%;
}

.accordion-item {
	--bs-accordion-btn-color: rgb(0, 0, 0);
	--bs-accordion-btn-bg: rgb(255, 255, 255);
	--bs-accordion-active-color: rgb(255, 255, 255);
	--bs-accordion-active-bg: rgb(0, 0, 0);
}

.accordion-button {
    font-weight: bold;
}